<div class="container mt-4">
<div class="jumbotron">
    <h1 class="display-4">Bonjour les ViewScalper :)</h1>
    <p class="lead"> C'est parti !! On attends vos plus beaux paysages avec impatience !</p>
    <hr class="my-4">
    <p>N'hésitez pas à vous inscrire sur le site afin de profiter de toutes les fonctionnalitées :)</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>